/* -------------------- Case Study Styling --------------------*/

@import url(“style.css”);

#case-study-nav-links {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.case-study-main-title {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    color: var(--color-black);
    font-size: var(--fs-600);
    padding: 6em;
}

.case-study-quote {
    font-style: italic;
    font-family: var(--ff-Source);
    font-weight: var(--fw-semi-bold);
    color: var(--color-black);
    font-size: var(--fs-500);
    text-align: center;
    padding: 4em 6em 4em 6em;
}

.paragraph-text {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    color: var(--color-black);
    font-size: var(--fs-400);
    padding: 1em 6em 1em 6em;
}

.work-flow-background {
    background-color: #eeeee3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title,
#research-data {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-semi-bold);
    color: var(--color-black);
    font-size: var(--fs-450);
}

.figma-web-link {
    color: var(--color-black);
    text-decoration: underline;
    text-underline-offset: 6px;
}

.extra-padding-bottom {
    padding-bottom: 8em;
}

#research-data {
    font-size: var(--fs-400);
    padding: 6em;
    border-spacing: 0.3em;
    text-align: left;
}

.table-heading {
    background-color: var(--color-black);
    color: var(--color-paper);
}

.table-sub-heading {
    background-color: var(--color-accent-1);
    color: var(--color-paper);
}

.table-data {
    background-color: lightgray;
    color: var(--color-black);
}

.focus-heading {
    background-color: #fa8072;
    color: #902418;
}

.focus-data {
    background-color: #f8c9c4;
    color: var(--color-black);
}

th,
td {
    padding: 15px;
    border-radius: 2px;
}
/* -------------------- Responsive Images  --------------------*/

.size-images {
    max-width: 1200px;
    max-height: auto;
}

.height-adjust {
    max-height: 800px;
}

.add-padding {
    padding: 6em;
}

.adjust-top-bottom-padding {
    padding-top: 6em;
    padding-bottom: 4em;
}

#responsive-image-1 {
    content: url('images/rosies-responsive-image-1-desktop.png');
}

#responsive-image-2 {
    content: url('images/Rosies\ Notes-primary-flow-desktop.png');
}

#responsive-image-3 {
    content: url('images/rosies-usertesting-feedback-desktop.png');
}

/* -------------------- Media Queries --------------------*/

@media (max-width: 56em) {
    .case-study-quote,
    .paragraph-text,
    .case-study-main-title {
        padding: 1em;
    }
    .adjust-top-bottom-padding {
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .case-study-main-title {
        padding-top: 4em;
        padding-right: 2em;
    }
    .size-images {
        max-width: 800px;
    }
    #Rosies-persona,
    #rosies-hifi {
        padding: 0;
    }
    #responsive-image-1 {
        content: url('images/rosies-responsive-image-1-mobile.png');
    }
    #responsive-image-2 {
        content: url('images/Rosies\ Notes-primary-flow-mobile.png');
    }

    #responsive-image-3 {
        content: url('images/rosies-usertesting-feedback-mobile.png');
        max-width: 400px;
    }
    .extra-padding-bottom {
        padding-bottom: 10em;
    }
}
@media (max-width: 35em) {
    .size-images {
        max-width: 400px;
    }
    #rosies-IA-image {
        padding: 0;
    }
}
