/* -------------------- Rosies Specifics  --------------------*/

/* -------------------- Responsive Images  --------------------*/

#responsive-image-hero {
    content: url('images/rosies-scrapbookpage.svg');
    padding-top: 1em;
}

#responsive-image-1 {
    content: url('images/rosies-responsive-image-1-desktop.png');
}

#responsive-image-2 {
    content: url('images/Rosies\ Notes-primary-flow-desktop.png');
}

#responsive-image-3 {
    content: url('images/rosies-usertesting-feedback-desktop.png');
}

#responsive-image-4 {
    content: url('images/rosies-research.png');
}

/* -------------------- Media Queries --------------------*/

@media (max-width: 56em) {
    #Rosies-persona,
    #rosies-hifi {
        padding: 1em 0 1em 0;
    }
    #responsive-image-hero {
        content: url('images/rosies-scrapbookpage-mobile.svg');
        padding-top: 5em;
    }

    #responsive-image-1 {
        content: url('images/rosies-responsive-image-1-mobile.png');
    }
    #responsive-image-2 {
        content: url('images/Rosies\ Notes-primary-flow-mobile.png');
    }

    #responsive-image-3 {
        content: url('images/rosies-usertesting-feedback-mobile.png');
        max-width: 400px;
    }
    #responsive-image-4 {
        content: url('images/rosies-research-mobile.png');
        max-width: 400px;
    }
}
@media (max-width: 35em) {
    #rosies-IA-image {
        padding: 0;
    }
}
