/* -------------------- Art History Specifics  --------------------*/

/* -------------------- Responsive Images  --------------------*/

#responsive-image-hero {
    content: url('images/art-history-hero-desktop.svg');
    padding-top: 1em;
}

#responsive-image-1 {
    content: url('images/Art\ History.png');
}

#responsive-image-2 {
    content: url('images/Art\ History-user-testing.png');
}

#responsive-image-3 {
    content: url('images/Art\ History\ Notes-approve.png');
}

#responsive-image-4 {
    content: url('images/Art\ History\ Notes-primary-flow.png');
}

/* -------------------- Media Queries --------------------*/

@media (max-width: 56em) {
    #Rosies-persona,
    #rosies-hifi {
        padding: 1em 0 1em 0;
    }
    #responsive-image-hero {
        content: url('images/art-history-hero-mobile.svg');
        padding-top: 5em;
    }

    #responsive-image-1 {
        content: url('images/Art\ History-mobile.png');
    }
    #responsive-image-2 {
        content: url('images/Art\ History-user-testing-mobile.png');
        max-width: 400px;
    }
    #responsive-image-3 {
        content: url('images/Art\ History\ Notes-approve-mobile.png');
        max-width: 400px;
    }

    #responsive-image-4 {
        content: url('images/Art\ History\ Notes-primary-flow-mobile.png');
    }
}
@media (max-width: 35em) {
    #rosies-IA-image {
        padding: 0;
    }
}
