/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
    font-size: 100%;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 100vh;
    background-color: #f5f5f0;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
/*
  9. Remove bullet points from list
*/
li {
    list-style-type: none;
}
/*
  10. Remove line from links
*/
a {
    text-decoration: none;
    color: #172121;
    transition: 0.2s;
}

/* 11. Scroll behavior */
html {
    scroll-behavior: smooth;
}

/* -------------------- PERSONAL PORTFOLIO SPECIFICS START HERE --------------------*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    --ff-poppins: 'Poppins', sans-serif;
    --ff-Courier: 'Courier Prime', monospace;
    --ff-Source: 'Source Code Pro', monospace;

    --fs-650: 3rem; /*48px*/
    --fs-600: 2rem; /*32px*/
    --fs-500: 1.75rem; /*28px*/
    --fs-450: 1.5rem; /*24px*/
    --fs-400: 1.125rem; /*18px*/
    --fs-300: 1rem; /*16px*/
    --fs-200: 0.875rem; /*14px*/

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --color-black: #001f3f;
    --color-paper: #f5f5f0;
    --color-accent-1: #20647a;
    --color-accent-2: #639bad;
}

/* -------------------- Header --------------------*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#portfolio-header-list-links,
#portfolio-header,
#portfolio-footer {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding: 1em 2em;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    color: var(--color-black);
}

#portfolio-header-list-links li {
    transition: 0.2s;
    color: var(--color-accent-1);
}

#portfolio-header {
    background-color: var(--color-paper);
}

#portfolio-header-list-links li:hover,
a:hover,
#copy-gmail-btn:hover {
    color: salmon;
}

#cl-logo-image {
    max-height: 4em;
    min-height: 4em;
    max-width: 4em;
    min-width: 4em;
}

/* -------------------- Header - MOBILE --------------------*/

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #001f3f;
    --background: #f5f5f0;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: #f5f5f0;
    --background: #001f3f;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    padding: 25px;

    translate: 1000%;
    padding: 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    /* background-color: var(--foreground); */
    background: linear-gradient(to bottom, var(--foreground), black);
    color: var(--background);
    max-width: 10rem;
    min-width: 10rem;
    min-height: 100vh;
    position: absolute;
    right: 0%;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

#portfolio-mobile-header-list-links {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
}

#portfolio-mobile-header-list-links li {
    color: var(--background);
    padding-top: 1rem 1.5rem 1rem 0.5rem;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    font-size: var(--fs-450);
    text-align: right;
}

#portfolio-mobile-header-list-links li:first-child {
    padding-top: 3rem;
}

#mobile-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 2rem 2rem 2rem;
    align-items: center;
    align-content: center;
}

#cl-logo-image-mobile {
    height: 3em;
    width: auto;
}
/* -------------------- Landing --------------------*/

#auto-type {
    color: salmon;
}

.typing-effect {
    display: flex;
    justify-content: center;
    padding: 3em;
    font-family: var(--ff-Source);
    font-size: var(--fs-500);
    color: var(--color-black);
    font-weight: 400;
    font-style: normal;
    padding-top: 6em;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 2em;
}

#sub-heading {
    font-size: var(--fs-400);
    color: var(--color-accent-1);
}

#leaf-ink-impression-landing {
    height: 8em;
    width: auto;
}

/* -------------------- Sections - General --------------------*/

.title-text {
    font-family: var(--ff-Source);
    font-size: var(--fs-600);
    color: var(--color-black);
    font-weight: 400;
    font-style: normal;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.section-name-streak {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3em;
    padding: 8em 0em 2em 10em;
    overflow: hidden;
}

.ripped-paper-background {
    background-image: url('images/ripped-paper-background-short.svg');
    background-repeat: no-repeat;
    background-size: cover;

    /* height: 100%; */
    /* padding-bottom: 60em; */
}

/* -------------------- Work --------------------*/

#work-section {
    font-family: var(--ff-poppins);
    font-size: var(--fs-500);
    color: var(--color-black);
}

#work-section-grid {
    display: grid;
    padding: 2em 4em 2em;
    justify-content: center;
    /* grid-template-columns: repeat(2, 12rem); */
    grid-template-columns: 200px 500px;
    row-gap: 3em;
}

.image-container {
    width: 150px;
    height: 350px;
}

.project-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px 3px 30px 60px; /* Top-left, top-right, bottom-right, bottom-left */
    border-right: 3px solid var(--color-black);
    border-bottom: 3px solid var(--color-black); /* Bottom border */
}

.title-and-link {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 1em;
}

.view-work-link {
    transition: 300ms;
    color: var(--color-accent-2);
}

.view-work-link:hover {
    color: salmon;
}

/* -------------------- About --------------------*/

#about-section {
    min-height: 30em; /* this might need to change */
    padding-bottom: 4em;
}

.about-text,
.learning-text {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    font-size: var(--fs-400);
    padding: 2em 8em 2em;
    max-width: 80em;
    line-height: 1.9;
    color: var(--color-black);
}

.learning-text {
    font-size: var(--fs-600);
    font-family: var(--ff-Source);
    padding: 0;
}

#leaf-ink-impression-about {
    height: 20em;
    width: auto;
}

/* -------------------- Connect --------------------*/

#connect-section {
    padding: 2em 0 4em;
    margin-bottom: 3em;
}

.connect-img-link-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-image {
    height: 75px;
    width: auto;
    transition: 0.2s;
}

.logo-image-button,
#copy-gmail-btn {
    background-color: transparent;
    border: none;
}

.logo-image:hover {
    filter: invert(80%) sepia(72%) saturate(3044%) hue-rotate(309deg)
        brightness(93%) contrast(112%);
}

.connect-link {
    font-family: var(--ff-poppins);
    font-weight: var(--fw-regular);
    color: var(--color-black);
}

#copy-gmail-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

/* ----------- Copy Gmail  ------------- */

#success-div,
#failed-div {
    text-align: center;
    opacity: 0;
}

#success-div {
    color: #52aa8a;
    padding: 0.7em;
}

#failed-div {
    color: salmon;
}

/* -------------------- Footer --------------------*/

#portfolio-footer {
    padding: 4em 2em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#footer-button {
    font-family: var(--ff-Source);
    font-size: var(--fs-400);
    color: var(--color-black);
    font-weight: 400;
    width: 400px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
}

#footer-button:hover {
    background-image: url('images/paint-streak-footer.svg');
    background-size: cover;
    color: white;
}

#footer-ink-leaf {
    height: 15em;
    width: auto;
    transform: rotate(-32deg);
    margin-top: -65px;
}

#thanks {
    margin-top: -65px;
    text-align: center;
    color: var(--color-accent-1);
}

/* -------------------- Stylization General --------------------*/

.accent-text-color {
    color: var(--color-accent-1);
}

/* -------------------- Scroll Bar --------------------*/

::-webkit-scrollbar {
    width: 0.7em;
}

::-webkit-scrollbar-thumb {
    background: var(--color-accent-2);
}

::-webkit-scrollbar-track {
    background: #d1e6ed;
}

@supports (scrollbar-color: #639bad #d1e6ed) {
    * {
        scrollbar-color: #639bad;
        scrollbar-width: auto;
    }
}

/* -------------------- Media Queries --------------------*/

@media (max-width: 37.1em) {
    #portfolio-header {
        display: none;
    }
    #Mobile-menu {
        display: flex;
    }
    #mobile-logo {
        display: flex;
    }
    .typing-effect {
        padding-top: 1em;
    }
}
@media (min-width: 37em) {
    #Mobile-menu {
        display: none !important;
    }
    #mobile-logo {
        display: none !important;
    }
}
